.cart-book-item-container{
    background-color: aliceblue;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
}

.item-title{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-titles{
    padding: 10px;
    width: 50%;
}

.item-qty{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}