.book-title {
    color: blue;
}

.book-author {
    color: green;
}

.book-genres {
    color: blue;
}

.book-pages {
    color: green;
}

.book-publishing_house {
    color: blue;
}

.book-year_published {
    color: green;
}

.book-year_description {
    color: green;

}

.book-price{
    color: green;
}

.book-container{
    /*background-color: #2382c3;*/
    box-sizing: border-box;
    color: black;
    border: 1px solid lightgray;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-page-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
}

.button-container{
    padding: 10px;
}

.book-main-info-container{
    padding: 10px;
    width: 50%;
}

.book-image-container{
    padding: 10px;
}

.book-img-wrapper {
    height: 400px;
    display: flex;
}

.book-img {
    /*width: 100%;*/
    height: fit-content;
    max-height: 100%;
    max-width: 100%;
}