.books-filters {
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-wrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.genres-wrapper{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}